<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Para linkear fuente Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!--Para linkear iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Sicera</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <!--Para linkear hoja de estilos-->
    <link rel="stylesheet" href="/css/styles.css">

  </head>


  <body>
    <!--Inicio del header-->
    <header>
      
        <section class="top-header">
          <!--Logo-->
          <section class="logo-sicera">
            <div class="logo-img">
              <img src="img/logo-sicera-sin-fondo.png" alt="logo">
            </div>
          </section>

          <!--Buscador-->
          <div class="search-bar">
            <input type="text" 
            name="search" 
            placeholder="Busca la sidra indicada" 
            class="src" 
            autocomplete="off">

            <!--icono del buscador-->
            <div class="icon-search">
              <i class="fas fa-search"></i>
            </div>
          
          <!--Burger menu-->
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
        </section>
        

      <nav class="header-nav-links">
        <section>
          <a href="/register">Registro</a>
          <a href="/login">Login</a>
          <a href="/productDetail">Detalles de Producto</a>
          <a href="/productCart">Carrito</a>
        </section>
      </nav>

    </header>
    <!--Final del header-->


    <!--Inicio del main-->
    <main>
      
      <section class="slider">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </section>

      <section>
        <h1>Oferta de producto y/o servicios</h1><i class="far fa-search"></i>
      </section>
    
      <section class="articulos">
        <div class="productos">

          <article class="producto1">
            <img class= "card-img" src="img/1888-sidra.jpg" alt="1888">
            <div class="main-article">
              <p class="price">$2.236</p>
              <h4 class="product-name">Sidra 1888</h4>             
            </div>
          </article>

          <article class="producto2">
            <img class= "card-img" src="img/la-victoria.jpg" alt= "La victoria">
            <div class="main-article">
              <p class="price">$1.540</p>
              <h4 class="product-name">Sidra La Victoria</h4>             
            </div>
          </article>

          <article class="producto3">
            <img class= "card-img" src="img/real.jpg" alt="Real">
            <div class="main-article">
              <p class="price">$1.315</p>
              <h4 class="product-name">Sidra Real</h4>             
            </div>
          </article>

        </div>
      </section>  
    
    </main>
    <!--Final del main-->


    <!--Inicio del footer-->
    <footer>

      <section class="top-footer">
        <article> <i class="fab fa-paypal"></i> </article>

        <article> <i class="fab fa-cc-visa"> </i></article>

        <article> <i class="fab fa-cc-mastercard"> </i></article>
      </section>


      <div class="under-top-footer"><p>Las opciones de pago varían según el comerciante</p></div>

      <section class="listas-footer">
        <section class="lista-footer1">
          <ul>
            <li> <a href="#">Acerca de</a> </li>

            <li> <a href="#">Contacto</a> </li>

          </ul>
        </section>

        
        <section class="lista-footer2">
          <ul>
            <li> <a href="#">Política de seguridad</a> </li>

            <li> <a href="#">Política de contenido</a> </li>
          </ul>
        </section>
      </section>


      <section class="bottom-footer">
        <article> <a href="www.instagram.com"> <i class="fab fa-instagram"></i> </a> </article>

        <article> <a href="www.twitter.com"> <i class="fab fa-twitter"></i>  </a> </article>

        <article> <a href="www.facebook.com"> <i class="fab fa-facebook"></i> </a> </article>
      </section>


      <section>
        <div class="sub-footer"> 
          <p>Todos los derechos reservados Copyright 2022</p>
        </div>
      </section>

    </footer>
    <!--Final del footer-->
    
  </body>
</html>
