<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Para linkear fuente Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!--Para linkear iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Sicera</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <!--Para linkear hoja de estilos-->
    <link rel="stylesheet" href="/css/styles.css">

  </head>


  <body>
    <!--Inicio del header-->
    <header>
      
        <section class="top-header">
          <!--Logo-->
          <section class="logo-sicera">
            <div class="logo-img">
              <a href="/index">
              <img src="img/logo-sicera-sin-fondo.png" alt="logo">
            </a>
            </div>
          </section>

          <!--Buscador-->
          <div class="search-bar">
            <input type="text" 
            name="search" 
            placeholder="Buscá la sidra indicada" 
            class="src" 
            autocomplete="off">

            <!--icono del buscador-->
            <div class="icon-search">
              <i class="fas fa-search"></i>
            </div>
          </section>
          
          <!--Burger menu-->
          <section>
            <div class="burger-menu">
              <i class="fas fa-bars"></i>
            </div>
          </section>
        

      <nav class="header-nav-links">
        <section>
          <a href="/register">Registro</a>
          <a href="/login">Login</a>
          <a href="/productDetail">Detalles de Producto</a>
          <a href="/productCart">Carrito</a>
        </section>
      </nav>

    </header>
    <!--Final del header-->


    <!--Inicio del main-->
    <main>
      
      <!--carrusel-->
      <div id="conteItemsCarrusel">
        <div class="itemCarrusel">
        <!--IMAGEN 1-->
            <div class="tarjetaCarrusel">
                <img src="img/1carrusel-primera.jpg" id="img1">
            </div>  
            <div class="flechasCarrusel">
               <a href="#img3"> 
                  <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#img2">
                  <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <!--IMAGEN 2-->
        <div class="itemCarrusel">
            <div class="tarjetaCarrusel">
                <img src="img/2carruse-segunda.jpg " id="img2">
            </div>  
            <div class="flechasCarrusel">
                <a href="#img1"> 
                  <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#img3">
                  <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <!--IMAGEN 3-->
        <div class="itemCarrusel">
            <div class="tarjetaCarrusel">
                <img src="img/3carrusel-tercera.jpg" id="img3">
            </div>  
            <div class="flechasCarrusel">
                <a href="#img2"> 
                  <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#img1">
                  <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>   
    </div> 
    
    <div id="contePuntos">
        <a href="#img1">*</a>
        <a href="#img2">*</a>
        <a href="#img3">*<!--agregar puntos de fontawesome--></a>
    </div>
    

      <section>
        <h1>¡Encontrá la sidra perfecta!</h1><i class="far fa-search"></i>
      </section>
    
      <section class="articulos">
        <div class="productos">

          <article class="producto1">
            <img class= "card-img" src="img/1888-product-1.jpg" alt="1888">
            <div class="main-article">
              <i class="fas fa-apple-alt"></i>
              <i class="fas fa-apple-alt"></i>
              <i class="fas fa-apple-alt"></i>
              <i class="fas fa-apple-alt"></i>
              <i class="fas fa-apple-alt"></i>
              <p class="price">$1.873</p>
              <h4 class="product-name">Sidra 1888</h4>             
            </div>
          </article>

          <article class="producto2">
            <img class= "card-img" src="img/la-victoria-product-2.jpg" alt= "La victoria">
            <div class="main-article">
              <i class="fas fa-apple-alt"></i>
              <i class="fas fa-apple-alt"></i>
              <i class="fas fa-apple-alt"></i>
              <p class="price">$1.540</p>
              <h4 class="product-name">Sidra La Victoria</h4>             
            </div>
          </article>

          <article class="producto3">
            <img class= "card-img" src="img/real-product-3.png" alt="Real">
            <div class="main-article">
              <i class="fas fa-apple-alt"></i>
              <i class="fas fa-apple-alt"></i>
              <i class="fas fa-apple-alt"></i>
              <i class="fas fa-apple-alt"></i>
              <p class="price">$1.615</p>
              <h4 class="product-name">Sidra Real</h4>             
            </div>
          </article>

        </div>
      </section>  
    
    </main>
    <!--Final del main-->


    <!--Inicio del footer-->
    <footer>
      <div class="footer">
        <section class="top-footer">
          <article class="paypal"> <i class="fab fa-paypal"></i> </article>

          <article class="visa"> <i class="fab fa-cc-visa"> </i></article>

          <article class="mastercard"> <i class="fab fa-cc-mastercard"> </i></article>

          <div class="under-top-footer"><p>Las opciones de pago varían según el comerciante</p></div>
        </section>


        

        
        <section class="listas-footer">
          <article class="lista-footer1">
            <ul>
              <li> <a href="#">Acerca de</a> </li>

              <li> <a href="#">Contacto</a> </li>

            </ul>
          </article>

          
          <article class="lista-footer2">
            <ul>
              <li> <a href="#">Política de seguridad</a> </li>

              <li> <a href="#">Política de contenido</a> </li>
            </ul>
          </article>
        </section>


        <section class="bottom-footer">
          <article> <a href="www.instagram.com"> <i class="fab fa-instagram"></i> </a> </article>

          <article> <a href="www.twitter.com"> <i class="fab fa-twitter"></i>  </a> </article>

          <article> <a href="www.facebook.com"> <i class="fab fa-facebook"></i> </a> </article>
        </section>
      

        
      </div>
      <section>
        <div class="sub-footer"> 
          <p>Todos los derechos reservados Copyright 2022.</p>
        </div>
      </section>
    </footer>
    <!--Final del footer-->

  </body>
</html>
