<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Para linkear fuente Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

     <!--Para linkear iconos-->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

     <!--Para linkear hoja de estilos-->
     <link rel="stylesheet" href="/css/styles.css">
 
    <title>Carrito</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  </head>

  <body>
    <!--Inicio del header-->
    <header>
      
        <section class="top-header">
          <!--Logo-->
          <section class="logo-sicera">
            <img src="img/logo-sicera.jpg" alt="logo">
          </section>
          
          <!--Buscador-->
          <div class="search-bar">
            <input type="text" 
            name="search" 
            placeholder="Busca la sidra indicada" 
            class="src" 
            autocomplete="off">

            <!--icono del buscador-->
            <div class="icon-search">
              <i class="fas fa-search"></i>
          </div>
          
          <!--Burger menu-->
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
        </section>
        

        <nav class="header-nav-links">
        <section>
          <a href="/register">Registro</a>
          <a href="/login">Login</a>
          <a href="/productDetail">Detalles de Producto</a>
          <a href="/productCart">Carrito</a>
        </section>
      </nav>

      
    </header>
    <!--Final del header-->
    
    
    <!--Inicio del main-->
    <main>

      <section class="slider">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </section>


      <section class="kart-main-top">
        <div class="kart-h1">
          <h1>Tu carro de compras</h1>
        </div>

          <div class="kart-main-top-text">
            <p>Agregar mas productos</p>
          </div>

          <div class="kart-main-top-basket">
            <i class="fas fa-shopping-basket"></i>
          </div>
      </section>


      <section class="kart-products">
        <article>
          <div class="kart-product-img">
            <img class= "card-img" src="img/la-victoria.jpg" alt= "La victoria">
          </div>
          <div class="kart-product-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, voluptatum? Consectetur, ipsa. Minima laboriosam expedita obcaecati distinctio nulla iusto exercitationem, magnam quas qui deleniti autem assumenda modi excepturi temporibus dolorem.
            </p>
          </div>
          <div class="kart-product-units">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod placeat a autem accusamus, quo fuga doloribus rem necessitatibus ipsam laboriosam, at voluptatum aut saepe eaque incidunt expedita vel vitae quasi!</p>
          </div>
          <div class="kart-product-price">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique aspernatur cumque nesciunt assumenda dignissimos sit nulla, cupiditate aperiam! Dolores molestiae et eum assumenda quod quas officiis commodi ratione? In, ex.</p>
          </div>
        </article>

        <article>
          <div class="kart-product-img">
            <img class= "card-img" src="img/real.jpg" alt="Real">
          </div>
          <div class="kart-product-details">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime aperiam fugiat ipsum placeat quasi, maiores odio obcaecati deserunt provident asperiores nisi. Architecto dolorum provident explicabo est? Soluta doloribus non fugit!</p>
          </div>
          <div class="kart-product-units">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia ex molestiae aliquid sunt expedita magnam temporibus mollitia excepturi! Et sapiente itaque alias officia doloribus maiores dolorem adipisci sint distinctio.</p>
          </div>
          <div class="kart-product-price">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quia ea necessitatibus, magnam atque deleniti! Culpa quo qui voluptatum quisquam nisi nesciunt animi dolore. Corrupti id nam modi eos sapiente.</p>
          </div>
        </article>

        <article>
          <div class="kart-product-img">
            <img class= "card-img" src="img/1888-sidra.jpg" alt="1888">
          </div>
          <div class="kart-product-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis minima ipsum alias modi perspiciatis nostrum harum quas libero aliquid reprehenderit. Sequi consequatur soluta dolore eos quos expedita esse voluptates et!</p>
          </div>
          <div class="kart-product-units">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro pariatur omnis facere, recusandae aliquid saepe doloremque nobis consequuntur corporis nulla nostrum suscipit deserunt rem odio consequatur quia accusantium impedit velit!</p>
          </div>
          <div class="kart-product-price">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A neque libero aspernatur mollitia reiciendis ipsam nobis suscipit non, ex odio reprehenderit et placeat nisi deserunt ipsum consequuntur sequi quod dolorum!</p>
          </div>
        </article>

        <article>
          <div class="kart-product-img">
            <img src="" rel="">
          </div>
          <div class="kart-product-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptates pariatur nulla debitis quidem perspiciatis, recusandae porro dignissimos voluptatum quo possimus suscipit, atque doloribus dolores error ipsum soluta officia numquam.</p>
          </div>
          <div class="kart-product-units">
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil omnis eaque veniam laborum sunt harum quaerat obcaecati sed quisquam, dicta placeat et ipsum optio blanditiis, excepturi earum maiores tempore illum!</P>
          </div>
          <div class="kart-product-price">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, illum perferendis cumque voluptatibus accusamus fugiat a voluptas voluptatem, nemo obcaecati aliquam laudantium eligendi quod ipsam consectetur expedita possimus ab dolorem.</p> 
          </div>
        </article>
      </section>


      <section>
        <div class="kart-final-price">
          <p>Total</p>
        </div>
      </section>


      <section class="kart-buttons">
        <button type="submit" class="primary"> Comprar </button>

        <button type="submit" class="primary"> Borrar </button>
      </section>

    </main>
    <!--Final del main-->


    <!--Inicio del footer-->
    <footer>

      <section class="top-footer">
        <article> <i class="fab fa-paypal"></i> </article>

        <article> <i class="fab fa-cc-visa"> </i></article>

        <article> <i class="fab fa-cc-mastercard"> </i></article>
      </section>


      <div class="under-top-footer"><p>Las opciones de pago varían según el comerciante</p></div>


      <section class="lista-footer1">
        <ul>
          <li> <a href="#">Acerca de</a> </li>

          <li> <a href="#">Contacto</a> </li>

        </ul>
      </section>

      
      <section class="lista-footer2">
        <ul>
          <li> <a href="#">Política de seguridad</a> </li>

          <li> <a href="#">Política de contenido</a> </li>
        </ul>
      </section>


      <section class="bottom-footer">
        <article> <a href="www.instagram.com"> <i class="fab fa-instagram"></i> </a> </article>

        <article> <a href="www.twitter.com"> <i class="fab fa-twitter"></i>  </a> </article>

        <article> <a href="www.facebook.com"> <i class="fab fa-facebook"></i> </a> </article>
      </section>


      <section class="sub-footer">
        <div> 
          <p>Todos los derechos reservados Copyright 2022</p>
        </div>
      </section>

    </footer>
    <!--Final del footer-->
    
  </body>
</html>
