<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Para linkear fuente Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!--Para linkear iconos-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <!--Para linkear hoja de estilos-->
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Productos</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/index">Volver</a>
      </nav>
    </header>
    <!-- el producto elegido -->
    <main>
      <!-- Foto del producto -->
      <section class="articulos">
        <div class="productos">
          <article>
            <img class="card-img" src="img/1888-sidra.jpg" alt="1888" />
            <div class="main-article">
              <h4 class="descripcion">Sidra 1888</h4>
              <p class="precio-original">$2.236</p>
              <p class="precio-con-descuento">$1.500</p>
              <!-- Cantidad de productos -->
              <!-- Boton de AGREGAR A CARRO -->
            </div>
          </article>
        </div>
      </section>

      <!-- Descripción del producto-->
      <section>
        <h4>Descripción</h4>
        <h4>Sidra 1888</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus
          quas non iure? Optio nobis blanditiis accusamus culpa, voluptates
          dicta libero, ex non nisi aliquam corrupti! Asperiores enim accusamus
          repellendus qui?
        </p>
      </section>

      <section>
        <h5>Notas de Cata</h5>
        <br />
        <h6>Color</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <br />
        <h6>Aroma</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <br />
        <h6>Boca</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <br />
        <h6>Alcohol</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <br />
        <h6>Acidez</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <br />
        <h6>Azucar</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <br />
        <h6>PH</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
