<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Para linkear fuente Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!--Para linkear iconos-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <!--Para linkear hoja de estilos-->
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Registro</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="/index">Volver</a>
      </nav>
    </header>

    <main>
      <!--CSS: título debería ir centrado-->
      <h1>Registrate</h1>

      <section>
                <!--Comienza formulario -->
        <form action="#" method="POST">

          <div>
          <label for="user-name"></label>
          <input type="text" name="user-name" placeholder="Nombre" required>
        </div>
          
        <div>
          <label for="user-surname"></label>
          <input type="text" name="user-surname" placeholder="Apellido" required>
        </div>

        <div>
          <label for="user-email"></label>
          <input type="text" name="user-email" placeholder="E-mail" required>
        </div>

        <div>  
        <label for="user-password"></label>
          <input type="password" name="user-password" placeholder="Contraseña" required>
          <label for="submit"></label>
        </div>

        <div class="button">
          <button type="submit" name="submit">Registrate</button>
        </div>

        <p>¿Ya eres miembro?</p>
        <p><a href="/logIn">Inicia sesión</a></p>


        </form> 
      </section>

      <div>
        <label for="submit"></label>
          <button type="submit" name="submit">Ingresa con Google</button>
        </div>
       

    </main>

    <footer></footer>
  </body>
</html>
