:root {
    --red: #e33241; /*barra de navegacion opacidad 80%*/
    --light-orange: #fff4e9; /* fondo de la pag */
    --dark-gray: #2c363f; /* footer */
}

/**Selectores universales*/
  * {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

  .main-create-product h1 {
    display: block;
    font-size: 25px;
  }

  .main-create-product {
    width: 100%;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  .form-create-product {
    width: 80%;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 4%;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .form-create-product form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .form-create-product div {
    padding: 10px;
  }
  
.main-info-container{
  display: flex;
  flex-direction: column;
  align-items: center
}
.detail-info-container{
  display: flex;
  flex-direction: column;
  align-items: center
}
  .article-name {
    font-size: 16px;
  }

  div .space {
    margin-top: 5px;
    border: 2px solid gray;
  }

  .form-create-product .div-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-description textarea {
    border-radius: 10px;
    border: 2px solid gray;
  }

  .createP-textarea {
    margin-bottom: 10px;
  }

  .div-photo .article-photo {
    font-size: 16px;
  }

  .main-create-product input[type="text"], .main-create-product select {
    width: 150px;
    border-radius: 4px;
  } 

  .div-maridajes {
    display: flex;
  }

  .div-button-reset, .div-button-submit {
    width: 50%;
  }

  .div-button-reset button, .div-button-submit button {
    font-size: 20px;
  }


/*   .div-button-reset button {
    background-color: #837c7c;
    color:white;
    padding: 6px;
  } */

/*   .div-button-submit button {
    background-color: #e33241;
    color: white;
    padding: 6px;
  } */

  .div-button-submit button {
    justify-content: center;
    border: 2px solid black;
    border-radius: 5%;
    background-color: #d9545f;
    color: #ffffff;
    margin-bottom: 2px;
    padding: 6px;
    width: 160px
  }
  
  .div-button-reset button {
    justify-content: center;
    border: 2px solid black;
    border-radius: 5%;
    background-color: #d9545f;
    color: #ffffff;
    margin-bottom: 2px;
    padding: 6px;
    width: 160px
  }
  
  button i{
    color: white;
    font-size:large
  }

  p{
    color:red;
    font-size: 14px;
    padding-top: 4px;
  }
  



@media(min-width: 426px) {
    
    .main-create-product h1 {
        font-size: 27px;
    }

    .form-create-product div {
        width: 70%;
    }

    .form-create-product div label {
        font-size: 20 px;
    }

    .div-maridajes {
        justify-content: center;
    }

/*     .form-create-product .div-button-submit,.form-create-product .div-button-reset {
        width: 40%;
    } */
    
}

@media(min-width: 769px){

    .main-create-product h1 {
        font-size: 27px;
    }

    .form-create-product div label {
        font-size: 18px;
    }
    .main-info-container{
      display: flex;
      flex-direction: column;
      align-items: center
    }
    .detail-info-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 26px;
    }
    .buttons-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center
    }

    .main-create-product input[type="text"], .main-create-product select {
        width: 200px;
        height: 30px;
        border-radius: 4px; 
        font-size: 20px;
    }

    .main-create-product #maridajes {
        height: 70px;
    }
  
}