:root {
    --red: #e33241; /*barra de navegacion opacidad 80%*/
    --light-orange: #fff4e9; /* fondo de la pag */
    --dark-gray: #2c363f; /* footer */
}

/**Selectores universales*/
  * {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}