
/*!Main*/

.h1-login {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 3px;
  padding-bottom: 5px;
  width: 100%;
  display: block;
}

.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  margin: 0 25px 20px 25px;
}

.input-email-user input {
  margin-bottom: 13px;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  border: 2px solid gray;
}

.input-user-password input {
  margin-bottom: 1px;
  text-align: center;
  font-weight: bold;
  border: 2px solid gray;
}

.remember-form {
  font-size: 12px;
  padding-top: 5px;
  font-weight: bold;
  margin-bottom: 9px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  color: blue;
}

.remember-form input {
  position: relative;
  top: 3px;
  right: -2px;
}

.button-login .enter {
  width: 38vw;
  font-weight: thin;
  padding: 1px;
  margin: 2px;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 8%;
  background-color: #d9545f;
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 5px;
}

.button-login .Google {
  width: 38vw;
  font-weight: thin;
  padding: 1px;
  margin: 2px;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 8%;
  background-color: #d9545f;
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 5px;
}

.hyperlink-to-register p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 13px;
}

.hyperlink-forgot-password p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 13px;
}



@media(min-width: 426px) {

  .input-email-user {
    padding-top: 15px;
  }

  .input-email-user input {
    width: 42vw;
    font-size: 16px;
    height: 27px;
    margin-bottom: 15px;
  }

  .input-user-password input {
    width: 42vw;
    font-size: 16px;
    height: 27px;
    margin-bottom: 5px;
  }

  .remember-form {
    font-size: 14px;
    padding-bottom: 18px;
  }

  .button-login .enter {
   width: 44vw;
   font-size: 15px;
   margin-top: 10px;
   margin-bottom: 10px;
  }

  .button-login .Google {
    width: 44vw;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .hyperlink-to-register p {
    font-size: 15px;
  }

  .hyperlink-forgot-password p {
    font-size: 15px;
  }  

}



@media(min-width: 769px) {

  .input-email-user input {
    width: 50vw;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .input-user-password input {
    width: 50vw;
    font-size: 20px;
    margin-bottom: 4px;
  }

  .remember-form {
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 24px;
  }

  .button-login .enter {
    width: 52vw;
   font-size: 19px;
   margin: 20px 0px 13px 0px;
  }

  .button-login .Google {
    width: 52vw;
    font-size: 19px;
    margin-bottom: 15px;
  }

  .hyperlink-to-register p {
    font-size: 18px;
  }

  .hyperlink-forgot-password p {
    font-size: 18px;
  }  

}