

/*!Main*/

  .main-product-detail {
    text-align: center;
  }

  .selected-product1 {
    margin-top: 10px;
  }

  .selected-products article img {
    width: 30vw;
    padding: 5px;
    margin: 7px;
    text-align: left;
    background-color: #d9545f;
  }

  .selected-products h4 {
    font-size: 16px;
  }

  .productD-price {
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 7px;
  }

  .product-amount .product-amount-label {
    font-weight: bold;
    font-size: 14px;
  }

  .product-amount .product-units {
    text-align: center;
    font-weight: bold;
    width: 30vw;
    margin-bottom: 14px;
  }
  
  .button-add-to-kart button {
    display: flex;
    width: 31vw;
    justify-content: center;
    font-weight: thin;
    padding: 1px;
    margin: 2px;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 8%;
    background-color: #d9545f;
    color: #ffffff;
    font-size: 15px;
    margin-left: 145px;
  } 

  .productD-line {
    border-bottom: 2px solid gray;
    padding-top: 20px;
    margin-bottom: 10px;
  }



@media (min-width: 426px) {
  
}



@media (min-width: 769px) {

}