

/*!Main*/
  .main-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 20px 0px;
  }

  .input-name-register {
    margin-bottom: -15px;
    margin-top: 15px;
    text-align: center;
  } 

  .input-name-register input {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    border: 2px solid gray;
    }

  .input-surname-register {
    margin-bottom: -15px;
    margin-top: 5px;
    text-align: center;
  } 

  .input-surname-register input {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    border: 2px solid gray;
  }

  .input-email-register {
    margin-bottom: -15px;
    margin-top: 5px;
    text-align: center;
  }

  .input-email-register input {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    border: 2px solid gray;
  }

  .input-password-register {
    margin-bottom: -15px;
    margin-top: 5px;
    text-align: center;
  }

  .input-password-register input {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    border: 2px solid gray;
  }

  .login-line {
    border-bottom: 2px solid black;
    padding-top: 5px;
    margin-bottom: 12px;
  }

  .button-signup-login button {
    width: 38vw;
    font-weight: thin;
    padding: 1px;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid red;
    border-radius: 8%;
    background-color: #d9545f;
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 90px;
  }

  .registerRegistrame{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    flex-direction: column;
  }

  .hiperlink-login p {
    text-align: center;
    font-weight: bold;
  }


  .div-photo{
    display: flex;
    justify-content:center;
    padding-bottom: 20px;
    margin-left: 80px;
    font-weight: bold;
  }

  .article-photo{
    padding-right: 10px;
    
  }
  
  .errorName p{
    font-size: 16px;
    color:red;
    font-weight: bold;
    margin-top: -8px;
    margin-bottom: 25px
  }

  .errorSurname p{
    font-size: 16px;
    color:red;
    font-weight: bold;
    margin-top: -8px;
    margin-bottom: 25px
  }

  .errorLastname p{
    font-size: 16px;
    color:red;
    font-weight: bold;
    margin-top: -8px;
    margin-bottom: 25px
  }

  .errorEmailRegister p{
    font-size: 16px;
    color:red;
    font-weight: bold;
    margin-top: -8px;
    margin-bottom: 25px
  }

  .errorPasswordRegister p{
    font-size: 16px;
    color:red;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 48px
  }

  .errorPhoto p{
    font-size: 16px;
    color:red;
    font-weight: bold;
    margin-top: -8px;
    margin-bottom: 25px
  }

  






@media (min-width: 426px) {

  .h1-register {
    font-size: 27px;
  }

  .input-name-register input {
    width: 48vw;
    font-size: 18px;
    border: 3px solid gray;
    margin: 10px;
  }
  

  .input-surname-register input {
    width: 48vw;
    font-size: 18px;
    border: 3px solid gray;
    margin: 10px;
  }
  

  .input-email-register input {
    width: 48vw;
    font-size: 18px;
    border: 3px solid gray;
    margin: 10px;
  }
  

  .input-password-register input {
    width: 48vw;
    font-size: 18px;
    border: 3px solid gray;
    margin: 10px;
  }

  .div-photo {
    font-size: 16px;
    margin: 20px;
    margin-left: 40px
  }
  
  .article-photo {
    padding-left: 40px;
  }
  
  .login-line {
    padding-top: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
  }

  .button-signup-login {
    border-bottom: 3px solid black;
    
  }

  .button-signup-login button {
    margin-bottom: 15px;
    width: 30vw;
    font-size: 18px;
    margin-left: 145px;
    display:flex;
    justify-content:center;
    
  }

  .hiperlink-login p{
    font-size: 16px;
    margin: 5px 0px 5px 0px;
  }

  .errorPasswordRegister p {
    margin-top: -1px;
  margin-bottom: 50px
  }

.errorPhoto p {
  padding-top: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  } 

}
   
  





@media (min-width: 769px) {
  
  .h1-register {
    font-size: 35px;
  }
  
  .input-name-register input {
    font-size: 26px;
    border: 4px solid gray;
    margin-top: 24px;
    margin-bottom: 15px;
  }

  .input-surname-register input {
    font-size: 26px;
    border: 4px solid gray;
    margin-bottom: 15px;
  }

  .input-email-register input {
    font-size: 26px;
    border: 4px solid gray;
    margin-bottom: 15px;
  }

  .input-password-register input {
    font-size: 26px;
    border: 4px solid gray;
    margin-bottom: 30px;
  }

  .login-line {
    display: none;
  }

  .button-signup-login button {
    font-size: 24px;
    height: 40px;
    width: 30vw;
    border-radius: 0.5%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    margin-right: 120px;
  }

  .button-signup-login {
    border-bottom: 4px solid black;
  }

  .hiperlink-login p {
    font-size: 16px;
    margin: 10px 0px 10px 0px;
  }

  

}