

/*!Main*/
  .main-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 20px 0px;
  }

  .input-name-register {
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: center;
  } 

  .input-name-register input {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    border: 2px solid gray;
    }

  .input-surname-register {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
  } 

  .input-surname-register input {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    border: 2px solid gray;
  }

  .input-email-register {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
  }

  .input-email-register input {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    border: 2px solid gray;
  }

  .input-password-register {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
  }

  .input-password-register input {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    border: 2px solid gray;
  }

  .login-line {
    border-bottom: 2px solid black;
    padding-top: 5px;
    margin-bottom: 12px;
  }

  .button-signup-login button {
    width: 38vw;
    font-weight: thin;
    padding: 1px;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 8%;
    background-color: #d9545f;
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .hiperlink-Google-login {

  }

  .button-Google-login button {
    width: 38vw;
    font-weight: thin;
    padding: 1px;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 8%;
    background-color: #d9545f;
    color: #ffffff;
    font-size: 13px;
   margin-top: 5px;
    margin-bottom: 5px;
  }





@media (min-width: 426px) {

  .h1-register {
    font-size: 27px;
  }

  .input-name-register {
  
  }
  
  .input-name-register input {
    font-size: 18px;
  }

  .input-surname-register {

  }

  .input-surname-register input {
    font-size: 18px;
  }

  .input-email-register {

  }

  .input-email-register input {
    font-size: 18px;
  }

  .input-password-register {

  }

  .input-password-register input {
    font-size: 18px;
  }

  .login-line {
    padding-top: 10px;
    margin-bottom: 20px;
  }

  .button-signup-login {

  }

  .hiperlink-Google-login {

  }

  .button-Google-login {

  }

}



@media (min-width: 769px) {
  
  .input-name-register {

  }
  
  .input-name-register input {

  }

  .input-surname-register {

  }

  .input-surname-register input {

  }

  .input-email-register {

  }

  .input-email-register input {

  }

  .input-password-register {

  }

  .input-password-register input {
    
  }

  .login-line {

  }

  .button-signup-login {

  }

  .hiperlink-Google-login {

  }

  .button-Google-login {

  }

}