:root{
  --red: #e33241; /*barra de navegacion opacidad 80%*/
  --light-orange: #fff4e9; /* fondo de la pag */
  --dark-gray: #2c363f; /* footer */
}

/* selector universal */
* {  
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: sandybrown;
}

p {
  font-size: 12px;
}

/*!Header -nav-links-burger*/

header {
  background-color: #E33241;
  opacity: 80%;
  padding: 0px;
}

.top-header {
  display: flex;
  display: block;
  flex-wrap: wrap;
}

.search-bar:hover input {
    width: 200px;
}

.search-bar:hover i{
    transform: rotate(-360deg);
}

.logo-sicera img {
  width: 35%;
  box-sizing: border-box;
}

.search-bar {
  width: 20%;
  box-sizing: border-box;
}

/**Burger*/
div.burger-menu{
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

div.burger-menu i{
   color: #ffffff;
   background-color: #D50000;
   padding: 10px;
   margin-left: 280px;
   border-radius: 5px;
   font-size: 18px;
   box-sizing: border-box;
}

/**Search bar*/
.search-bar {
    position: absolute;
    left: 64%;
    top: auto;
    padding-top: 12px;
    padding-left: 50px;
    padding-bottom: 00px;
    margin:-20px;
    transform: translate(-50%,-50%);
}

input.src{
  padding: 9px 10px 9px 10px;
  outline: none;
  font-size: 13px;
  border-radius: 15px;
  color: #000;
  border: 3px solid #fff;
  margin-right: 30px;
  margin-left: 50px;
  width: 90px;
  transition: all .7s;
}

input {
    outline: none;
    box-sizing: border-box;
    padding: 16px;
    color: #000;
    border-radius: 50px;
    font-size: 14px;
    border: 2px solid #D50000;
    transition: all .7s ease;
}

::placeholder {
    color: #000;
}

.icon-search {
    position: absolute;
    right: 20px;
    top: 5px;
    width: 50px;
    height: 50px;
    background: #D50000;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-search i {
    font-size: 25px;
    color: white;
    line-height: 80px;
    transition: all .7s ease;
}

/**Links nav-bar*/
.header-nav-links {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-top: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  box-sizing: border-box;
}

/**Slider de imagenes*/
.slider {
  display: flex;
  flex-wrap: wrap;
}




/*!Main*/

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-style: italic;
}

h3 {
  font-size: 16px;
  font-style: italic;
}




/*!Footer*/
footer{
  margin: 1px;
  border:solid rgb(52, 52, 116) 2px ;
  background-color: darkgrey;
  padding: 10px 0;
}

.top-footer article i {
  display: flex;
  display: block;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.under-top-footer p {
  text-align: center;
}

.lista-footer1 ul li{
  display: flex;
  display: block;
  flex-wrap: wrap;
  text-align: left;
  width: 50%;
  box-sizing: border-box;
}

.lista-footer2 ul li{
  display: flex;
  display: block;
  flex-wrap: wrap;
  text-align: right;
  width: 50%;
  box-sizing: border-box;

}

.bottom-footer article a i {
  display: flex;
  display: block;
  flex-wrap: wrap;
  padding: 1px;
  margin: 1px;
}

section .sub-footer {
  margin-top: 3px;
  border-top: solid red 3px;
  padding-top: 5px;
  text-align: left;
  font-weight: bold;
}




/*!Queries*/

/*?Puse mismas medidas que la liebre, cambiarlas*/
 /**Tablet*/
 @media (min-width: 426) {

 }


 /**Desktop*/
 @media (min-width: 769px) {

 }