:root{
  --red: #e33241; /*barra de navegacion opacidad 80%*/
  --light-orange: #fff4e9; /* fondo de la pag */
  --dark-gray: #2c363f; /* footer */
}

/**Selectores universales*/
* {  
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/**Selectores generales*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff4e9;
}

p {
  font-size: 12px;
}



/******************************************/


/*?Index styles* start/

/*!Header -nav-links-burger*/

/*!Header -nav-links-burger*/

header {
  background-color: #E33241;
  opacity: 80%;
  padding: 0px;
}

.top-header {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search-bar:hover input {
    width: 200px;
}

.search-bar:hover i{
    transform: rotate(-360deg);
}

.logo-sicera {

  width: 30%;
}
.logo-sicera img {
  width: 100%;
  box-sizing: border-box;
}

.search-bar {

  display: flex;
  box-sizing: border-box;
}

/**Burger*/
div.burger-menu{
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

div.burger-menu i{
   color: #ffffff;
   background-color: #D50000;
   padding: 10px;
   
   border-radius: 5px;
   font-size: 18px;
   box-sizing: border-box;
}

/**Search bar*/
.search-bar {

    padding-bottom: 00px;

}

input.src{

}

input {
    outline: none;
    box-sizing: border-box;
    padding: 16px;
    color: #000;
    border-radius: 50px;
    font-size: 14px;
    border: 2px solid #D50000;
    transition: all .7s ease;
}

::placeholder {
    color: #000;
}

.icon-search {

    width: 50px;
    height: 50px;
    background: #D50000;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-search i {
    font-size: 25px;
    color: white;
    line-height: 80px;
    transition: all .7s ease;
}

/**Links nav-bar*/
.header-nav-links {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-top: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  box-sizing: border-box;
}





/*!Main*/

main {
  background-color: #FFF4E9;
}

/**Slider de imagenes*/
.slider img {
  display: flex;
  flex-wrap: wrap;
}


h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0px 15px 0px;
  border-bottom: 3px solid #d9545f;
}

h2 {
  font-size: 18px;
  font-style: italic;
}

h3 {
  font-size: 16px;
  font-style: italic;
}

.producto1 {
  border-bottom: 2px solid #d9545f;
  margin-top: 10px;
  margin-bottom: 6px;
  text-align: center;
}

.producto1 img {
  width: 50%;
  border: 2px solid grey;
}

.producto2 {
  border-bottom: 2px solid #d9545f;
  margin-top: 10px;
  margin-bottom: 6px;
  text-align: center;
}

.producto2 img {
  width: 50%;
  border: 2px solid grey;
}

.producto3 {
  border-bottom: 2px solid #d9545f;
  margin-top: 10px;
  margin-bottom: 6px;
  text-align: center;
}

.producto3 img {
  width: 50%;
  border: 2px solid grey;
}

.price {
  padding: 0px 0px 0px 3px;
  font-size: 14px;
  font-style: italic;
}

.product-name {
  padding:4px 0px 6px 3px;
  margin-bottom: 4px;
}

/*!Footer y subfooter*/

footer{
  margin: 1px;
  border:solid rgb(52, 52, 116) 2px ;
  background-color: var(--dark-gray);
  padding: 10px 0;
}

.top-footer{
  display: flex;  
  flex-wrap: wrap;  
  justify-content: space-around;
  padding-top: 10px;
}

.top-footer article i{

  font-size: 50px;
  color: white;
}


.under-top-footer p {
  text-align: center;
  color: white;
  font-size: 15px;
  padding-top: 10px;
}
.listas-footer{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.lista-footer1{
  display: flex;  
  flex-wrap: wrap;  
  width: 40%;  
  justify-content: center;
}
.lista-footer2{
  display: flex;  
  flex-wrap: wrap;  
  width: 50%;  
}
footer section ul li a{

  text-decoration: none;
  color: white;
  font-size: 18px;
}
footer section ul{

  list-style-type: none;

}
.bottom-footer{

  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
}

.bottom-footer article {
  display: flex;  
  flex-wrap: wrap;
  padding-right: 8px;
  padding-left: 8px;
  margin: 1px;
  
}
.bottom-footer article a{

  padding-top: 15px;
  padding-bottom: 15px;
  color: white;  
}
.bottom-footer article a i{

  font-size: 40px;
}

section .sub-footer {
  margin-top: 3px;
  border-top: solid red 3px;
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}




/******************************************/

/*?Login styles* start/
/*!Header*/
/*!Main*/
/*!Footer*/
/*?Login styles* end/




/******************************************/

/*?Register styles* start/
/*!Header*/
/*!Main*/
/*!Footer*/
/*?Register styles* end/




/******************************************/

/*?ProductCart styles* start/
/*!Header*/
/*TODO: Esperar a que corrija jero el header para ponerlo*/





/*!Main*/


.kart-main-top {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid grey;
  padding-bottom: 15px;
  justify-content: space-between;
  align-items: flex-end;

}

.kart-h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 3px;
  padding: 15px;
  width: 100%;
  display: block;
}

.kart-main-top-text p {
  display: flex;
  font-style:italic ;
  font-weight: 500;
  padding: 5px;
  margin: 3px;
}


.kart-main-top-basket i {
  display: flex;
  padding: 5px;
  margin: 3px;
  font-size: 25px;
  margin-right: 20px;

}

.kart-products {
  text-align: center;
}

.product {
  display: flex;
  padding: 4px;
  margin: 3px;
  border-bottom: 2px solid grey;
  justify-content: space-around;
  margin-right: 15px;
  align-items: center;
}

.kart-product-img img {
  width: 25vw;
  padding: 5px;
  margin: 7px;
  display: block;
  text-align: left;
  background-color: #d9545f;
}

.kart-product-details {
  display: flex;
  flex-wrap: wrap;
  width: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  top: -15px;

}

.kart-product-units {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: #FFFFFF;
  height: 18px;
  justify-content: space-around;
  position: relative;
  top: -15px;
}

.kart-product-price {
  display: flex;
  flex-wrap: wrap;
  width: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  top: -15px;

}

.kart-lower-main {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.kart-final-price p {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  margin-right: 15px;
  padding: 4px;
}


.kart-buttons button {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: bold;
  padding: 1px;
  margin: 2px;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 8%;
  background-color:#d9545f;
}

/*!Footer*/

/*?ProductCart styles* end/




/******************************************/

/*?ProductDetail styles* start/
/*!Header*/


/*!Main*/
.main-prod-detail{
  margin: 0 25px 0 25px;
}
.precio-original{
  text-decoration: line-through;
}
.precio-con-descuento{
  color: green;
  font-weight: bolder;
}
.cantidad-de-productos{
  font-size: 16px;
}

.unidades{
  font-style: italic;
}

/*!Footer*/
/*?ProductDetail styles* end/




/******************************************/




/*!Media Queries*/

/*?Puse mismas medidas que la liebre, cambiarlas por las que vayamos a usar*/
 /**Tablet*/
 @media (min-width: 426px) {

 }


 /**Desktop*/
 @media (min-width: 769px) {

 }