<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")  %> 

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/createProduct.css">
</head>

<body>

    <%- include("./partials/header")  %> 

    <main class="main-create-product">

        <h1>CREAR PRODUCTOS</h1>

        <section class="form-create-product">
            <form action="#" method="POST">

                <div class="div-name">
                    <label class="article-name" for="name">Nombre del articulo: </label>
                    <br>
                    <input class="space" type="text" name="name">
                </div>

                <div class="div-description">
                    <label class="createP-textarea" for="description"> Descripcion articulo: </label>
                    <textarea name="description" id="description" cols="40" rows="10"></textarea>
                </div>
                
                <div class="div-photo">
                    <label class="article-photo" for="photo">Foto del articulo: </label>
                    <input type="file" name="photo" id="photo" accept=".jpg" class="coso">
                </div>
                
                <div class="div-price">
                    <label for="price">Precio: </label>
                    <input type="text" name="price" id="price">
                </div>
                
                <div class="div-country">
                    <label for="country">País: </label>
                    <select name="country" id="country">                        
                        <option value="argentina">Argentina</option>
                        <option value="chile">Chile</option>
                        <option value="uruguay">Uruguay</option>
                    </select>
                </div>

                <div class="div-region">
                    <label for="region">Región: </label>
                    <select name="region" id="region">                        
                        <option value="mendoza">Mendoza</option>
                        <option value="cuyo">Cuyo</option>                    
                    </select>
                </div>

                <div class="div-brand">
                    <label for="brand">Marca: </label>
                    <select name="brand" id="brand">                        
                        <option value="real">Real</option>
                        <option value="1888">1888</option>
                    </select>
                </div>
                <div class="div-bodega">
                    <label for="bodega">Bodega: </label>
                    <select name="bodega" id="bodega">                        
                        <option value="coso">Coso</option>
                        <option value="otrocoso">Otrocoso</option>
                    </select>
                </div>
                <div class="div-maridajes">
                    <label for="maridajes">Maridajes: </label>
                    <select name="maridajes" id="maridajes" multiple size="3">                  
                        <option value="ternera">Ternera</option>
                        <option value="cordero">Cordero</option>
                        <option value="cerdo">Cerdo</option>
                        <option value="pescado">Pescado</option>
                    </select>
                </div>

                <div class="div-button-reset">
                    <button type="reset">Descartar</button>
                </div>
                <div class="div-button-submit">
                    <button type="submit">Crear artículo</button>
                </div>

            </form>
        </section>


    </main>


    <%- include('./partials/footer') %>
    
</body>
</html>