<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head")  %> 

<body>
    <%- include("./partials/header")  %> 

    <main>

        <h1>EDITAR PRODUCTOS</h1>
        <section class="form-edit-product">
            <form action="#" method="POST">

                <article>
                    <form action="#" method="post">
                        <div class="div-search-edit">
                            <label for="search-edit">Buscar articulo</label>
                            <input type="text" 
                            name="search-edit" 
                            class="search-edit" 
                            id="search-edit"
                            autocomplete="off">
                            <button class="button-search-edit" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>                        
                </article>

                <div class="div-name">
                    <label for="name">Nombre del articulo</label>
                    <input type="text" name="name">
                </div>

                <div class="div-description">
                    <label for="description"> Descripcion articulo</label>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                </div>
                
                <div class="div-photo">
                    <label for="photo">Foto del articulo</label>
                    <input type="file" name="photo" id="photo" accept=".jpg">
                </div>
                
                <div class="div-price">
                    <label for="price">Precio</label>
                    <input type="text" name="price" id="price">
                </div>
                
                <div class="div-country">
                    <label for="country">País</label>
                    <select name="country" id="country">
                        <option value="">Selecciona país</option>
                        <option value="argentina">Argentina</option>
                        <option value="chile">Chile</option>
                        <option value="uruguay">Uruguay</option>
                    </select>
                </div>

                <div class="div-region">
                    <label for="region">Región</label>
                    <select name="region" id="region">
                        <option value="">Selecciona región</option>
                        <option value="mendoza">Mendoza</option>
                        <option value="cuyo">Cuyo</option>                    
                    </select>
                </div>

                <div class="div-marca">
                    <label for="marca">Marca</label>
                    <select name="marca" id="marca">
                        <option value="">Selecciona marca</option>
                        <option value="real">Real</option>
                        <option value="1888">1888</option>
                    </select>
                </div>
                <div class="div-bodega">
                    <label for="bodega">Bodega</label>
                    <select name="bodega" id="bodega">
                        <option value="">Selecciona bodega</option>
                        <option value="coso">Coso</option>
                        <option value="otrocoso">Otrocoso</option>
                    </select>
                </div>

                <div class="div-maridajes">
                    <label for="maridajes">Maridajes</label>
                    <select name="maridajes" id="maridajes" multiple>
                        <option value="">Selecciona maridajes</option>
                        <option value="ternera">Ternera</option>
                        <option value="cordero">Cordero</option>
                        <option value="cerdo">Cerdo</option>
                        <option value="pescado">Pescado</option>
                    </select>
                </div>

                <div class="div-button-delete">
                    <button type="button">Eliminar artículo</button>
                </div>

                <div class="div-button-reset">
                    <button type="reset">Descartar cambios</button>
                </div>        
                        
                <div class="div-button-submit">
                    <button type="submit">Guardar cambios</button>
                </div>  

            </form>
        </section>

    </main>


    <%- include('./partials/footer') %>
</body>
</html>