<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/index.css">

  </head>

  <body>
    <%- include('./partials/header') %>
   
    <section class="h1-login">
      <h1>Ingresa con tu cuenta</h1>
    </section>
  
    <!--Inicio del main-->
    <main class="main-login">


      <!-- <section class="slider">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </section>
       -->

      <!--Comienza formulario -->

      
      <form action="/users/login" method="POST" class="login">

        <section>
          <div class="input-email-user">
            <label for="user-name-email"></label>
            <input type="text" name="email" placeholder="Ingresa e-mail o usuario" required>
            <% if (locals.errors && locals) { %>
              <p><%=errors.email.msg %> </p>
            <% } %>
          </div>
        
          <div class="input-user-password">  
            <label for="user-password"></label>
            <input type="password" name="password" placeholder="Contraseña" required>
            <label for="submit"></label>
          </div>
        
          <div class="remember-form">
            <label name="rememberme">Recuerdame
            <input type="checkbox" name="remember-me">
          </label>
          </div>
        </section>
        
        <section>
          <div class="button-login">
            <button class="enter" type="submit" class="primary" name="submit">Ingresa</button>
          </div>
         
          <div class="button-login">
            <label for="submit"></label>
            <button class="Google" type="submit" name="submit">Continua con Google</button> 
          </div>
        </section>
      </form> 
        
        <section>
          <div class="hyperlink-to-register">
            <p><a href="/users/register">No tienes una cuenta?</a></p>
          </div>
        </section>
        
        <section>
          <div class="hyperlink-forgot-password">
            <p><a href="#">Olvidaste tu contraseña?</a></p>
          </div>
        </section>
    </main>
    <!--Final del main-->

    <%- include('./partials/footer') %>
    
  </body>
</html>
