<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/index.css">

  </head>

  <body>
    <%- include('./partials/header') %>
  
    <section class="h1-login">
      <h1>Ingresa con tu cuenta</h1>
    </section>
  
    <!--Inicio del main-->
    <main class="main-login">


      <!-- <section class="slider">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </section>
        -->

      <!--Comienza formulario -->

      
      <form action="/users/login" method="POST" class="login">
        <div class="errors">
          <ul>
            
          </ul>
      </div>
        <section>
          <div class="input-email-user">
            <label for="user-name-email"></label>
            
            <input id="user-email" type="text" name="email" placeholder="Ingresa e-mail o usuario" >
             <% if (locals.errors && locals) {%> 
              <p><%=errors.email.msg %> </p>
            <% } %> 
            <div class="errorEmail">
              <p></p>
            </div>
          </div>
        
          <div class="input-user-password">  
            <label for="user-password"></label>
            
            <input type="password" id="user-password" name="password" placeholder="Contrase単a" >
            <label for="submit"></label>
            <div class="errorPassword">
              <p></p>
            </div>
          </div>
        
          <div class="remember-form">
            <label name="rememberme">Recuerdame
            <input type="checkbox" name="remember-me">
          </label>
          </div>
        </section>
        
        <section>
          <div class="button-login">
            <button class="enter" type="submit" class="primary" name="submit">Ingresa</button>
          </div>

        </section>
      </form> 
        
        <section>
          <div class="hyperlink-to-register">
            <p><a href="/users/register">多No tienes una cuenta?</a></p>
          </div>
        </section>
        
        <section>
          <div class="hyperlink-forgot-password">
            <p><a href="#">多Olvidaste tu contrase単a?</a></p>
          </div>
        </section>
    </main>
    <!--Final del main-->
    <script src="/js/logInValidation.js"></script>
    <%- include('./partials/footer') %>
    
  </body>
</html>
