<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  

  <body>
    
    <%- include('./partials/header') %>
   

    <!--Inicio del main-->
    <main>

      <!-- <section class="slider">
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </section> -->

      <section class="main-top-kart">
        <div class="h1-kart">
          <h1>Tu carro de compras</h1>
        </div>

        <div class="main-top-kart-text">
          <button><a href="/index" target="_blank"><p>Agregar más productos</p></a></button>
        </div>

        <div class="main-top-kart-basket">
          <i class="fas fa-shopping-cart"></i>
        </div>
      </section>

      <section class="section-products-kart">

        <article class="product-kart">
          <div class="product-kart-img">
            <img class="card-img" src="img/real-product-3.png" alt="Real" />
          </div>
          <div class="product-kart-details">
            <p>Sidra Real</p>
          </div>
          <div class="product-kart-units">
            <p>- 1 Unidad +</p>
          </div>
          <div class="product-kart-price">
            <p>$1.615</p>
          </div>
        </article>

        <article class="product-kart">
          <div class="product-kart-img">
            <img class="card-img" src="img/1888-product-1.jpg" alt="1888" />
          </div>
          <div class="product-kart-details">
            <p>Sidra 1888</p>
          </div>
          <div class="product-kart-units">
            <p>- 1 Unidad +</p>
          </div>
          <div class="product-kart-price">
            <p>$1.873</p>
          </div>
        </article>
      </section>

      <section>
        <div class="final-price-kart">
          <p>Precio total: $3.488</p>
        </div>
      </section>

      <section class="lower-main-kart">
        <section class="buttons-kart">
          <button type="submit" class="primary">Compra ahora</button>

          <button type="submit" class="primary">Vaciar carro</button>
        </section>
      </section>
    </main>
    <!--Final del main-->

    <%- include('./partials/footer') %>
    
  </body>
</html>
