<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  

  <body>
    <%- include('./partials/header') %>
    

    <main class="main-product-detail">
      <!-- el producto elegido -->
      <!-- <main class="main-prod-detail">
        <section class="slider">
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
        </section> -->

      <!-- Foto del producto -->
      <section class="selected-products">

        <section class="selected-product">
          <article>
            <img class="card-img" src="img/1888-product-1.jpg" alt="1888"/>
            <div class="product-detail">
              <h4>Sidra 1888</h4> 
              <p class="productD-price">$1.873</p>
            </div>  
          </article>
          <article class="product-amount">
            <label class="product-amount-label" for="input" placeholder="amount">Amount of products</label>
            <br>
            <input class="product-units" type="number" placeholder="units"/>
            </label>
          </article>
        </section>
       
      </section>
            
              
              
      <section class="button-add-to-kart">  
        <a href="productCart">
        <button type="submit" class="primary"> Add to kart </button>
        </a>
      </section>
          
      <section class="productD-line"></section>

      <section class="product-ratings">
        <article>
          <h3 class="ratings-h3">RATINGS</h3>
          <h5 class="ratings-users">Nacho Trossero</h5>
          <div class="ratings-icons">
            <i class="fas fa-apple-alt"></i>
            <i class="fas fa-apple-alt"></i>
            <i class="fas fa-apple-alt"></i>
            <i class="fas fa-apple-alt"></i>
            <i class="fas fa-apple-alt"></i>
          </div>
            <p class="user-comment-productD">"Its taste is mindblowing, I would recommend it for sure!"</p>
        </article>
      </section>

      <section class="productD-line"></section>

      <!-- Descripción del producto-->
      <section class="product-description">
        <h3 class="description-h3">DESCRIPTION</h3>
        <h4>Sidra 1888</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus
          quas non iure? Optio nobis blanditiis accusamus culpa, voluptates
          dicta libero, ex non nisi aliquam corrupti! Asperiores enim accusamus
          repellendus qui?
        </p>
      </section>

      <section class="productD-line"></section>

      <section class="aditional-info-product">
        <h3 class="additional-info-h3">Additional info</h3>
        <h4>Tasting notes</h4>
        <h5>Colour</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>Smell</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>Mouth</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>Alcohol</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>Acidity</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>Sugar</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
        <h5>PH</h5>
        <p  class="p-PH">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta
          accusantium, ipsam incidunt voluptate error ullam, veritatis quidem,
          saepe tempora explicabo unde quo aliquam neque sunt doloremque alias
          id quibusdam?
        </p>
      </section>
      
    </main>

  <%- include('./partials/footer') %>
  
  </body>
</html>
