<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  

  <body>
    <%- include('./partials/header') %>
  
  
    <!--CSS: título debería ir centrado-->
    <h1 class="h1-register">Registrate</h1>

    <main class="main-register">

      <!-- <section class="slider">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </section> -->


      <!--Comienza formulario -->
        <form action="#" method="POST" class="register">

          <section>
            <div class="input-name-register">
              <label for="user-name"></label>
              <input type="text" name="user-name" placeholder="Nombre" required>
            </div>
            
            <div class="input-surname-register">
              <label for="user-surname"></label>
              <input type="text" name="user-surname" placeholder="Apellido" required>
            </div>
  
            <div class="input-email-register">
              <label for="user-email"></label>
              <input type="text" name="user-email" placeholder="E-mail" required>
            </div>
  
            <div class="input-password-register">  
              <label for="user-password"></label>
              <input type="password" name="user-password" placeholder="Contraseña" required>
            <label for="submit"></label>
            </div>
          </section>

          <section class="login-line"></section>

          <section class="button-signup-login">
            <div>
              <button type="submit" name="submit">Inicia sesión</button>
            </div>
          </section>

          <section>
            <div class="hiperlink-login">
              <p>¿Ya eres miembro?</p>
              <p><a href="/logIn">Ingresa con tu cuenta</a></p>
            </div>
          </section>

          <section class="button-Google-login">
            <div>
              <label for="submit"></label>
              <button type="submit" name="submit">Ingresa con Google</button>
            </div>
          </section>
        
      </form> 
    </main>

    <%- include('./partials/footer') %>
    
  </body>
</html>
