<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/register.css">

</head>

  <body>
    <%- include('./partials/header') %>
  
  
    <!--CSS: título debería ir centrado-->
    <h1 class="h1-register">Registrate</h1>

    <main class="main-register">

      <!-- <section class="slider">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </section> -->


      <!--Comienza formulario -->
      <!-- habria que poner algo así según los videos -->
      
      <!-- <form action="/usuarios/__/acutalizar?_method=PUT" method="POST">
        
      </form> -->
        <form action="/users/register" method="POST" class="register" enctype="multipart/form-data">

          <section>
            <div class="input-name-register">
              <label for="user-name"></label>
              <input id="user-name" type="text" name="name" placeholder="Nombre" required>
            </div>
            
            <div class="input-surname-register">
              <label for="user-surname"></label>
              <input id="user-surname" type="text" name="lastname" placeholder="Apellido" required>
            </div>
  
            <div class="input-email-register">
              <label for="user-email"></label>
              <input id="user-email" type="text" name="email" placeholder="E-mail" required>
            </div>
  
            <div class="input-password-register">  
              <label for="user-password"></label>
              <input id="user-password" type="password" name="password" placeholder="Contraseña" required>
            <label for="submit"></label>
            </div>
          </section>

          <div class="div-photo">
            <label class="article-photo" for="image">Foto del Usuario: </label>
            <input type="file" name="image" id="image" accept=".jpg, .png" class="coso">
        </div>

          <section class="login-line"></section>

          <section class="button-signup-login">
            <div>
              <button type="submit" name="submit">Inicia sesión</button>
            </div>
          </section>

          <section>
            <div class="hiperlink-login">
              <p>¿Ya eres miembro?</p>
              <p><a href="/users/logIn">Ingresa con tu cuenta</a></p>
            </div>
          </section>

          <section class="button-Google-login">
            <div>
              <label for="submit"></label>
              <button type="submit" name="submit">Ingresa con Google</button>
            </div>
          </section>
        
      </form> 
    </main>

    <%- include('./partials/footer') %>
    
  </body>
</html>
