<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/userProfile.css">
</head>

  <body>
    <%- include('./partials/header') %>
     
      <div class="h1-profile-container">
        <h1 class="h1-userProfile">¡Hola User name!</h1>
      </div>

      <div class="div-photo">
        <label class="article-photo" for="image"><i class="fas fa-pencil-alt"></i> </label>
        <input type="file" name="image" id="image" accept=".jpg, .png" class="coso" >
       
      </div>
      


  <%- include('./partials/footer') %>
  
    </body>
</html>
