<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/productDetail.css">
</head>

  <body>
    <%- include('./partials/header') %>
    

    <main class="main-product-detail">
      <!-- el producto elegido -->
      <!-- <main class="main-prod-detail">
        <section class="slider">
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
        </section> -->
      
      <section>
        <h1 class="h1-productD">User name</h1>
      </section>

      <!-- Foto del producto -->
      <section class="selected-products">
          <!-- <article>
            <img class="card-img" src=  %= product.image %>  alt="1888"/>
          </article>
          <article class="product-amount">
            <div class="product-detail">
              <h4> %= product.name %></h4>
              <p class="productD-price"> %= product.price %></p>
            </div>  
            </section>
          </article> -->
    </main>

  <%- include('./partials/footer') %>
  
    </body>
</html>
