    <!--Inicio del footer-->
    <footer>
      <div class="footer">
        <section class="top-footer">
          <article class="paypal"> <i class="fab fa-paypal"></i> </article>

          <article class="visa"> <i class="fab fa-cc-visa"> </i></article>

          <article class="mastercard"> <i class="fab fa-cc-mastercard"> </i></article>

          <div class="under-top-footer"><p>Las opciones de pago varían según el comerciante</p></div>
        </section> 

        <section class="listas-footer">
          <article class="lista-footer1">
            <ul>
              <li> <a href="#">Acerca de</a> </li>

              <li> <a href="#">Contacto</a> </li>

            </ul>
          </article>
          
          <article class="lista-footer2">
            <ul>
              <li> <a href="#">Política de seguridad</a> </li>

              <li> <a href="#">Política de contenido</a> </li>
            </ul>
          </article>
        </section>

        <section class="bottom-footer">
          <article> <a href="www.instagram.com"> <i class="fab fa-instagram"></i> </a> </article>

          <article> <a href="www.twitter.com"> <i class="fab fa-twitter"></i>  </a> </article>

          <article> <a href="www.facebook.com"> <i class="fab fa-facebook"></i> </a> </article>
        </section>
      
      </div>
      <section>
        <div class="sub-footer"> 
          <p>Todos los derechos reservados Copyright 2022.</p>
        </div>
      </section>
    </footer>
    <!--Final del footer-->