    <!--Inicio del header-->
    <header>
      
      <section class="top-header">
        <section class="section-burger"> 
        <ul class="menu">
          <li><a class="menuItem" href="#">Perfil</a></li>
          <li><a class="menuItem" href="#">Registrate</a></li>
          <li><a class="menuItem" href="#">Carro de compras</a></li>
        </ul>
        <button class="hamburger"><i class="fas fa-bars"></i>
          <!-- material icons https://material.io/resources/icons/ -->
          <i class="menuIcon material-icons"></i>
          <i class="closeIcon material-icons"></i>
        </button>

        <script>const menu = document.querySelector(".menu");
          const menuItems = document.querySelectorAll(".menuItem");
          const hamburger= document.querySelector(".hamburger");
          const closeIcon= document.querySelector(".closeIcon");
          const menuIcon = document.querySelector(".menuIcon");
          
          function toggleMenu() {
            if (menu.classList.contains("showMenu")) {
              menu.classList.remove("showMenu");
              closeIcon.style.display = "none";
              menuIcon.style.display = "block";
            } else {
              menu.classList.add("showMenu");
              closeIcon.style.display = "block";
              menuIcon.style.display = "none";
            }
          }
          
          hamburger.addEventListener("click", toggleMenu);
          
          menuItems.forEach( 
            function(menuItem) { 
              menuItem.addEventListener("click", toggleMenu);
            }
          )</script>


         <!-- Burger menu          -->
                 
        <!-- <div class="burger-menu">
          <nav class="nav-burger">
            <input type="checkbox" id="menu">
            <label for="menu"><i class="fas fa-bars"></i></label>
            <ul class="list-burger-menu">

              <% if (locals.loggedUser) { %>
                <li><a href="/users/userProfile">Perfil</a> </li>
              <% } else { %>
                <li><a href="/users/register"></i>Registrate</a></li>
                <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
              <% } %>
              <li><a href="/products/productCart">Carro de compras</a></li>
              <li><a href="/products/sidras">Sidras</a></li>
              <!-- <li><a href="/maridajes">Maridajes</a></li>
              <li><a href="/manzanas">Manzanas</a></li>
              <li><a href="/experienciaSidra">Experiencia sidra</a></li> -->
            </ul>
          </nav>
        </div>  
      </section>

        
        <!--Logo-->
        <section class="logo-sicera">
          <div class="logo-img">
            <a href="/">
            <img src="/img/logo-completo-con-contorno-en-manzana.png" alt="logo" class="logo-completo">
            <img src="/img/logo-manzana-sola-con-stroke.png" alt="logo" class="logo-incompleto">
            </a>
          </div>
        </section>
      

        <!--Buscador-->
        <div class="search-bar">
          <input type="text" 
            name="search" 
            placeholder="Buscá la sidra indicada" 
            class="src" 
            autocomplete="off">

          <!--icono del buscador-->
          <div class="icon-search">
            <i class="fas fa-search"></i>
          </div>
          <nav class="header-nav-links">
            <section class="section-nav-desktop">          

              <a href="/products/sidras">Sidras</a>
              <a href="/maridajes"></i>Maridajes</a>
              <a href="/manzanas">Manzanas</a>
              <a href="/experienciaSidra">Experiencia sidra</a>
              
            </section>  
          </nav>
        </div> 
        <!--Nav links-->
      

        
        <section class="button-login-carro-header">
          
          <% if (locals.loggedUser) { %>
            <a href="/users/userProfile">Hola <%= locals.loggedUser.first_name %>
              <img class="avatar-logged-user" src="<%= locals.loggedUser.image %>" alt="">
              
            </a> 
            
          <% } else { %>
            <a href="/users/register"></i>Registrate</a>
            <a href="/users/login"><i class="fas fa-user"></i></a>
          <% } %>
          

          
          
          
          
          <a href="/products/productCart"><i class="fas fa-shopping-basket"></i></a>

        </section>
            
      </section>          
      
    </header>
    <!--Final del header-->