    <!--Inicio del header-->
    <header>
      
      <section class="top-header">
        <!--Burger menu-->         
      <section class="section-burger">            
        <div class="burger-menu">
          <nav class="nav-burger">
            <input type="checkbox" id="menu">
            <label for="menu"><i class="fas fa-bars"></i></label>
            <ul class="list-burger-menu">
              <li><a href="/register">Registro</a></li>
              <li><a href="/login">Iniciar sesión</a></li>
              <li><a href="/productCart">Carro de compras</a></li>
              <li><a href="/sidras">Sidras</a></li>
              <li><a href="/maridajes">Maridajes</a></li>
              <li><a href="/manzanas">Manzanas</a></li>
              <li><a href="/experienciaSidra">Experiencia sidra</a></li>
            </ul>
          </nav>
        </div>
      </section>

        
        <!--Logo-->
        <section class="logo-sicera">
          <div class="logo-img">
            <a href="/index">
            <img src="/img/logo-completo-con-contorno-en-manzana.png" alt="logo" class="logo-completo">
            <img src="/img/logo-manzana-sola-con-stroke.png" alt="logo" class="logo-incompleto">
            </a>
          </div>
        </section>
      

        <!--Buscador-->
        <div class="search-bar">
          <input type="text" 
            name="search" 
            placeholder="Buscá la sidra indicada" 
            class="src" 
            autocomplete="off">

          <!--icono del buscador-->
          <div class="icon-search">
            <i class="fas fa-search"></i>
          </div>
        </div> 

        
        <section class="button-login-carro-header">

          <a href="/users/login"><i class="fas fa-user"></i></a>
                  
          <a href="/products/productCart"><i class="fas fa-shopping-basket"></i></a>

        </section>
            
      </section>          
      
      <!--Nav links-->
      <nav class="header-nav-links">
        <section class="section-nav-desktop">          
          <a href="/sidras"><i class="fas fa-wine-bottle"></i>Sidras</a>
          <a href="/maridajes"><i class="fas fa-cheese"></i>Maridajes</a>
          <a href="/manzanas"><i class="fas fa-apple-alt"></i>Manzanas</a>
          <a href="/experienciaSidra"><i class="fas fa-map-marked"></i>Experiencia sidra</a>
        </section>  
      </nav>   

    </header>
    <!--Final del header-->